
.footer {
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  background-color: #f0f0f0; /* Light gray background */
  color: #333; /* Dark gray text */
  font-size: 0.9rem;
  /* margin-top: 2rem; */
}

.footer p {
  margin: 0;
}
