.experience {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('/background.jpg') no-repeat center center/cover;
  overflow: hidden;
  padding: 1rem 0;
  height: 100vh;
}

.content {
  position: relative;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: black;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.skillsetContainer {
  margin-top: 4rem;
}

.statsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  /* height: 10vh; */
}

.statCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #000000d2;
  border-radius: 1rem;
  padding: 2.5rem;
  transition: transform 0.3s ease;
}

.statCard:hover {
  transform: scale(1.05);
}

.iconWrapper {
  margin-bottom: 0.75rem;
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
  color: #c3c3c3;
}

.statNumber {
  font-size: 3rem;
  font-weight: bold;
  color: #c3c3c3;
}

.statLabel {
  font-size: 1.125rem;
  font-weight: 500;
  margin-top: 0.5rem;
  color: #c3c3c3;
}

@media (min-width: 768px) {
  .title {
    font-size: 3rem;
  }

  .statsContainer {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }
}
